
.information_wrap {
  padding-bottom: 50px;
}

.information_wrap .title {
  font-size: 20px;
}

.information_wrap .subtitle {
  font-size: 15px;
  color: #aaa;
}

.information_item div {
  padding: 5px;
}

.information_item {
  margin-top: 20px;
  display: flex;
}

.input1 {
  flex: 1;
}

.input1 input, .input2 input {
  width: 100%;
}

.input2 {
  flex: 3;
}

.add_one {
  font-size: 20px;
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}


.conformation {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.conformation a {
  background: #a03;
  color: white;
  padding: 10px 20%;
}
