{% extends 'base.html' %}

{% block title %}Uniworld{% endblock %}

{% block styles %}
<!-- build:css styles/index.css -->
<link rel="stylesheet" href="styles/index.css">
<!-- endbuild -->
{% endblock %}

{% block content %}

<div id="header">
  {% include 'navbar.html' %}
</div>

<div class="my_container">
  <div class="header_content">

  </div>
  <div class="content">
    <div class="sidebar">
      <div class="dropdown_wrap side_box">
        <div class="dropdown_me">
          <button onclick="roomArrangement()" class="dropbtn">房间</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="arrangement.html">房间管理</a>
            <a href="basicinfo.html">发布新房间</a>
          </div>
        </div>
      </div>
      <div class="sidebar_note side_box">
        <div class="note_title">关于房间</div>
        <div class="note_content">这是一些简单的说明和引导啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
      </div>
    </div>
    <div class="side_content">
      <div class=side_header>房间>></div>
      <div class="progress_box">
        <span class="progressing">进行中</span>
        <span class="over"> | 已结束</span>
      </div>
      <div class="room_wrap">
        <div class="room_item">
          <div class="top">
            <div class="avatar">
            </div>
            <div class="room_content_box">
              <div class="room_content">
                <span>官方!</span> Uniworld 请你吃麻辣香锅哦——占地找度娘的算法sad番茄味付清地方again的确违法所得
              </div>
              <div class="room_msg">
                <div class="room_new_msg">有新结束的群消息！</div>
                <div class="room_new_member">有新的成员申请！</div>
              </div>
            </div>
          </div>
          <div class="room_notes">
            <div class="room_time">
              于2016-1-17 21:30建立 还有2天12时结束
            </div>
            <div class="room_icon_box">
              <span class="room_icon glyphicons glyphicons-chat">
                <i class="fa fa-comment-o" aria-hidden="true"></i>3
              </span>
              <span class="room_icon glyphicons glyphicons-chat">
                <i class="fa fa-comment-o" aria-hidden="true"></i>3
              </span>
              <span class="room_icon glyphicons glyphicons-group">
                <i class="fa fa-user-o" aria-hidden="true"></i>233
              </span>
            </div>
          </div>
        </div>
        <div class="room_item">
          <div class="top">
            <div class="avatar">
            </div>
            <div class="room_content_box">
              <div class="room_content">
                <span>官方!</span> Uniworld 请你吃麻辣香锅哦——占地找度娘的算法sad番茄味付清地方again的确违法所得
              </div>
              <div class="room_msg">
                <div class="room_new_msg">有新结束的群消息！</div>
                <div class="room_new_member">有新的成员申请！</div>
              </div>
            </div>
          </div>
          <div class="room_notes">
            <div class="room_time">
              于2016-1-17 21:30建立 还有2天12时结束
            </div>
            <div class="room_icon_box">
              <span class="glyphicons glyphicons-chat">
                <i class="fa fa-comment-o" aria-hidden="true"></i>3
              </span>
              <span class="glyphicons glyphicons-chat">
                <i class="fa fa-comment-o" aria-hidden="true"></i>3
              </span>
              <span class="glyphicons glyphicons-group">
                <i class="fa fa-user-o" aria-hidden="true"></i>233
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<!-- build:js scripts/index.js -->
<script src="scripts/index.js"></script>
<!-- endbuild -->
{% endblock %}
