{% extends 'base.html' %}

{% block title %}Lab μ - 清华科创学生社团{% endblock %}

{% block styles %}
<!-- build:css styles/newroom.css -->
<link rel="stylesheet" href="styles/index.css">
<link rel="stylesheet" href="styles/newroom.css">
<!-- endbuild -->
{% endblock %}

{% block content %}

<div id="header">
  {% include 'navbar.html' %}
</div>

<div class="my_container">
  <div class="header_content">

  </div>
  <div class="content">
    <div class="sidebar">
      <div class="dropdown_wrap side_box">
        <div class="dropdown_me">
          <button onclick="roomArrangement()" class="dropbtn">房间</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">房间管理</a>
            <a href="#about">发布新房间</a>
          </div>
        </div>
      </div>
      <div class="sidebar_note side_box">
        <div class="note_title">关于房间</div>
        <div class="note_content">这是一些简单的说明和引导啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
      </div>
    </div>

    <div class="side_content">
      <div class="side_header">房间>></div>
      <div class="procedure">
        <div>1-填写基本信息>></div>
        <div class="active">2-成员信息>></div>
        <div>3-确认>></div>
        <div>4-发布>></div>
      </div>
      <div class="information_wrap">
        <div class="title">收集成员信息</div>
        <div class="subtitle">
          我们将会根据您的需求生成群问卷，让加入成员填写
        </div>

        <div class="information_content">
        {% set foo = [0, 1, 2, 3, 4, 5] %} {% for num in foo %}
          <div class="information_item">
            <div class="checkbox_required">
              <input type="checkbox"> 必填
            </div>
            <div>|</div>
            <div class="input1">
              <input type="text" placeholder="单行文本框">
            </div>
            <div class="input2">
              <input type="text" placeholder="提示信息写在这里">
            </div>
            <div class="delete">
              <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
          </div>
        {% endfor %}
        </div>

        <div class="add_one">
          <a href="#"> + 添加一项</a>
        </div>

        <div class="conformation">
          <a href="#">确认信息</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<!-- build:js scripts/index.js -->
<script src="scripts/index.js"></script>
<!-- endbuild -->

{% endblock %}
